*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
body {
    margin: 10px;
    height: 100vh;
}
header {
    font-size: 3vmin;
    padding: .2vmin;
    background-color: #037171;
    color: white;
    text-align: center;
    letter-spacing: .5vmin;
}
main {
    display: flex;
    justify-content: center;
}
.left {
    display: grid;
    grid-template-columns: repeat(5, 67px);
    grid-template-rows: repeat(9, 1fr);
    width: 300px;
    height: 670px;
    margin-right: 50px;
}

.lastNumbers {
    grid-area: 6/1/7/6;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
}
.lastNumbers div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    height: 30px;
    width: 30px;
    background-color: black;
    padding: 5px;
}
#wheel {
    grid-area: 1/1/6/7;
    background-image: url("https://i.imgur.com/7LVwwIc.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#wheelCircle {
    grid-area: 1/1/6/7;
    margin: 76px;
}
#wheelCircle > div {
    fill: transparent;
    stroke: black;
}
#message {
    grid-area: 7/1/8/6;
    align-self: center;
    justify-self: center;
    color: green;
}
.buttons {
    grid-area: 7/1/8/6;
    justify-content: center;
    align-items: center;
}
h3 {
    grid-area: 8/1/9/6;
    justify-self: center;
    align-self: end;
}
.selectChip {
    grid-area: 9/1/10/6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.selectChip > div {
    height: 30px;
    width: 30px;
}
#onedollar {
    background-image: url("https://cdn1.iconfinder.com/data/icons/games-7/48/Chip-512.png");
    background-size: 100%;
}
#fivedollar {
    background-image: url("https://cdn1.iconfinder.com/data/icons/games-7/48/Chip-512.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#tendollar {
    background-image: url("https://cdn1.iconfinder.com/data/icons/games-7/48/Chip-512.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#twentyfivedollar {
    background-image: url("https://cdn1.iconfinder.com/data/icons/games-7/48/Chip-512.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#onehundreddollar {
    background-image: url("https://cdn1.iconfinder.com/data/icons/games-7/48/Chip-512.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(14, 1fr);
    margin: 20px;
    width: 300px;
    height: 630px;
}
.board div {
    border: 2px solid black;
    color: white;
}
.zero {
    grid-area: 1/3/1/6;
    display: flex;
    justify-content: space-around;
    background-color: #4CB98D;
}
.individuals {
    grid-area: 2/3/14/7;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 11.15px repeat(22, 22.3px);
    margin: 0;
    background-color: #4CB98D;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 30%;
    margin-right: 30%;
    padding-bottom: 20px;
    font-size: 3vmin;
}
.red, .black, .even, .odd, .tw1, .tw2, .tw3, .th1, .th2, .th3, .low, .high {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4CB98D;
    
}
.red {
    background-color: #FF0048;
    content: "1";
}
.black {
    background-color: #000000;
}
.tw1 {
    grid-area: 2/2/6/2;
}
.tw2 {
    grid-area: 6/2/10/2;
}
.tw3 {
    grid-area: 10/2/14/2;
}
.low {
    grid-area: 2/1/4/1;
}
.board > .even {
    grid-area: 4/1/6/1;
}
.board > .red {
    grid-area: 6/1/8/1;
}
.board > .black {
    grid-area: 8/1/10/1;
}
.board > .odd {
    grid-area: 10/1/12/1;
}
.high {
    grid-area: 12/1/14/1;
}
.th1 {
    grid-area: 14/3/14/4;
}
.th2 {
    grid-area: 14/4/14/5;
}
.th3 {
    grid-area: 14/5/14/7;
}
.individuals > div:hover {
    opacity: .6;
}
.odd:hover {
    opacity: .6;
}
.even:hover {
    opacity: .6;
}
.red:hover {
    opacity: .6;
}
.black:hover {
    opacity: .6;
}
.low:hover {
    opacity: .6;
}
.high:hover {
    opacity: .6;
}
.tw1:hover {
    opacity: .6;
}
.tw2:hover {
    opacity: .6;
}
.tw3:hover {
    opacity: .6;
}
.th1:hover {
    opacity: .6;
}
.th2:hover {
    opacity: .6;
}
.th3:hover {
    opacity: .6;
}
.odd:hover ~.individuals>.odd {
    opacity: .8;
}
.even:hover ~.individuals>.even {
    opacity: .6;
}
.red:hover ~.individuals>.red {
    opacity: .6;
}
.black:hover ~.individuals>.black {
    opacity: .6;
}
.low:hover ~.individuals>.ot18 {
    opacity: .6;
}
.high:hover ~.individuals>.et36 {
    opacity: .6;
}
.tw1:hover ~.individuals>.first12 {
    opacity: .6;
}
.tw2:hover ~.individuals>.second12 {
    opacity: .6;
}
.tw3:hover ~.individuals>.third12 {
    opacity: .6;
}
.th1:hover ~.individuals>.first3 {
    opacity: .6;
}
.th2:hover ~.individuals>.second3 {
    opacity: .6;
}
.th3:hover ~.individuals>.third3 {
    opacity: .6;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.spinWheel {
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-duration: 500ms;
}